@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

ol,
ul {
  padding: 0;
}

/* sizes */
/* font */
h1 {
  font-size: 4.5rem;
  font-family: "DM Sans", sans-serif;
  color: white;
}

h2 {
  font-size: 3.5rem;
  font-family: "DM Sans", sans-serif;
  color: white;
}

h3 {
  font-size: 2.5rem;
  font-family: "DM Sans", sans-serif;
  color: white;
}

h4 {
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;
  color: white;
}

p {
  font-size: 1.05em;
  font-family: "DM Sans", sans-serif;
  color: white;
}

a {
  font-size: 1.2em;
  cursor: url("img/pointer.png"), pointer;
  font-family: "DM Sans", sans-serif;
  color: white;
}

button {
  cursor: url("img/pointer.png"), pointer;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #0e0f11;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #579af2;
}

::-webkit-scrollbar-thumb {
  background-color: #285598;
  border-radius: 12px;
}

hr {
  width: 80px;
  height: 4px;
  border-radius: 12px;
  border: none;
}

::-moz-selection {
  background-color: #579af2;
  color: ghostwhite;
}

::selection {
  background-color: #579af2;
  color: ghostwhite;
}

html {
  scroll-behavior: smooth;
  background-color: #0e0f11;
}
html body {
  font-family: "ROBOTO", sans-serif;
  background-color: #0e0f11;
  overflow-x: hidden;
  z-index: -1;
}
html body nav .logoHeader {
  width: 30px;
  height: auto;
  margin: 0px 0px 50px 5px;
}
html body nav .logoHeader svg {
  width: 100%;
  height: auto;
}
html body nav.menu-lateral {
  width: 60px;
  height: 100%;
  background-color: #0e0f11;
  padding: 40px 0 40px;
  box-shadow: 3px 0 0 #285598;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  transition: 0.3s;
  overflow: hidden;
}
html body nav.menu-lateral:hover {
  width: 300px;
}
html body .btn-expandir {
  width: 100%;
  padding-left: 10px;
}
html body .btn-expandir > i {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}
html body ul {
  height: 100%;
  list-style-type: none;
}
html body ul li.item-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  padding: 20px 1%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
  margin-left: 15px;
}
html body ul li.item-menu {
  transition: 0.1s;
}
html body ul li.item-menu:hover {
  background: #285598;
}
html body ul li.item-menu a .txt-link {
  margin-left: 30px;
}
html body ul li.item-menu a .icon > i {
  font-size: 27px;
}
html body main #home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  flex-direction: column;
  position: relative;
  background-color: #0e0f11;
  text-align: center;
}
html body main #home .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
html body main #home .background canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  filter: blur(5px);
}
html body main #home .home-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html body main #home h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: white;
  transition: all 0.3s ease;
  z-index: 3;
}
html body main #home h1 span {
  color: #579af2;
  margin-left: -6%;
}
html body main #home h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #57c6f2;
  text-shadow: 20px 0 70px #579af2;
}
html body main #home h3 {
  font-size: 2vw;
  letter-spacing: 0.7em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}
html body main #home h3 .m {
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
  animation: loading 1.5s ease-in-out infinite alternate;
}
@keyframes loading {
  to {
    text-shadow: 20px 0 70px #579af2;
    color: #579af2;
  }
}
html body main #home .loader span:nth-child(2) {
  animation-delay: 0.1s;
}
html body main #home .loader span:nth-child(3) {
  animation-delay: 0.2s;
}
html body main #home .loader span:nth-child(4) {
  animation-delay: 0.3s;
}
html body main #home .loader span:nth-child(5) {
  animation-delay: 0.4s;
}
html body main #home .loader span:nth-child(6) {
  animation-delay: 0.5s;
}
html body main #home .loader span:nth-child(7) {
  animation-delay: 0.6s;
}
html body main #home .loader span:nth-child(8) {
  animation-delay: 0.7s;
}
html body main #home .loader span:nth-child(9) {
  animation-delay: 0.8s;
}
html body main #home .loader span:nth-child(10) {
  animation-delay: 0.9s;
}
html body main #home .loader span:nth-child(11) {
  animation-delay: 1s;
}
html body main #home .loader span:nth-child(12) {
  animation-delay: 1.1s;
}
html body main #home .loader span:nth-child(13) {
  animation-delay: 1.2s;
}
html body main #home .loader span:nth-child(14) {
  animation-delay: 1.3s;
}
html body main #home .loader span:nth-child(15) {
  animation-delay: 1.4s;
}
html body main #home .loader span:nth-child(16) {
  animation-delay: 1.5s;
}
html body main #home .loader span:nth-child(17) {
  animation-delay: 1.6s;
}
html body main #home .loader span:nth-child(18) {
  animation-delay: 1.7s;
}
html body main #home .loader span:nth-child(19) {
  animation-delay: 1.8s;
}
html body main #home .loader span:nth-child(20) {
  animation-delay: 1.9s;
}
html body main #home .loader span:nth-child(21) {
  animation-delay: 2s;
}
html body main #home .loader span:nth-child(22) {
  animation-delay: 2.1s;
}
html body main #carouselCont {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw !important;
  overflow: hidden;
  position: relative;
  margin-top: 2% !important;
}
html body main #carouselCont .parceiros {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html body main #carouselCont .parceiros h2 {
  font-size: 1.5rem;
  color: white;
  margin: 0% 0% 5% 0%;
}
html body main #carouselCont .parceiros h2 span {
  color: #579af2;
}
html body main #carouselCont .parceiros .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
html body main #carouselCont .parceiros .gradiente {
  position: absolute;
  width: 100%;
  height: 100px;
  background: radial-gradient(circle, rgba(14, 15, 17, 0) 10%, rgba(14, 15, 17, 0.1) 20%, rgba(14, 15, 17, 0.2) 30%, rgba(14, 15, 17, 0.3) 40%, rgba(14, 15, 17, 0.4) 50%, rgba(14, 15, 17, 0.5) 60%, rgba(14, 15, 17, 0.8) 70%, rgba(14, 15, 17, 0.95) 80%, rgb(14, 15, 17) 90%, rgb(14, 15, 17) 100%);
  top: 137px;
  left: 0px;
  z-index: 99999;
}
html body main #carouselCont .tecnologias {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html body main #carouselCont .tecnologias h2 {
  font-size: 2.5rem;
  color: white;
  margin: 1% 0% 2% 0%;
}
html body main #carouselCont .tecnologias .carouselTec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100%;
  gap: 50px;
}
html body main #carouselCont .tecnologias .carouselTec div {
  width: 320px;
  height: 250px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 1%;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.15);
  padding: 0.5%;
}
html body main #carouselCont .tecnologias .carouselTec div h4 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.05em;
  margin-bottom: 2%;
}
html body main #carouselCont .tecnologias .carouselTec div img {
  width: 50px;
  height: auto;
  margin-bottom: 2%;
}
html body main #carouselCont .tecnologias .carouselTec div p {
  color: white;
}
html body main #sobre {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
html body main #sobre .sobreCont {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
html body main #sobre .sobreCont .title h3 {
  margin-bottom: 2%;
}
html body main #sobre .sobreCont .title h3 span {
  margin-left: -1%;
  color: #e79740;
}
html body main #sobre .sobreCont .title h2 {
  margin-bottom: 2%;
}
html body main #sobre .sobreCont .title .titleCont {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start !important;
  gap: 10%;
}
html body main #sobre .sobreCont .title .titleCont .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  gap: 10%;
}
html body main #sobre .sobreCont .title .titleCont .icons img {
  width: 50px;
  height: auto;
}
html body main #sobre .sobreCont .title .titleCont .iconOne img {
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 1px solid #e79740;
}
html body main #sobre .sobreCont .title .titleCont .iconTwo img {
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 1px solid #e30278;
}
html body main #sobre .sobreCont .title .titleCont .iconThree img {
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 1px solid #7e4bd0;
}
html body main #sobre .sobreCont .sobreItens {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body main #sobre .sobreCont .sobreItens .light {
  position: absolute;
}
html body main #sobre .sobreCont .sobreItens .light img {
  width: 1057px;
  height: 1500px;
}
html body main #sobre .sobreCont .sobreItens .backgroundSobre {
  position: absolute;
}
html body main #sobre .sobreCont .sobreItens .sobreTitle {
  z-index: 999;
  width: 420px;
  height: 450px;
  background: rgba(37, 34, 34, 0.1);
  -webkit-backdrop-filter: blur(5px);
  /* exemplo de valor válido */
  backdrop-filter: blur(5px);
  /* para compatibilidade com browsers não WebKit */
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5%;
  padding: 10%;
}
html body main #sobre .sobreCont .sobreItens .sobreTitle h4 {
  margin-bottom: 5%;
}
html body main #sobre .sobreCont .sobreItens .sobreTitle h4 span {
  color: #e79740;
}
html body main #sobre .sobreCont .sobreItens .sobreTitle p {
  font-size: 1.5rem;
  font-weight: bold;
  width: 350px;
}
html body main #sobre .visao .title h3 span {
  color: #e30278 !important;
}
html body main #sobre .visao .sobreItens .sobreTitle h4 span {
  color: #e30278 !important;
}
html body main #sobre .valores .title h3 span {
  color: #7e4bd0 !important;
}
html body main #sobre .valores .sobreItens .sobreTitle h4 span {
  color: #7e4bd0 !important;
}
html body main #nossoParceiro {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html body main #nossoParceiro .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html body main #nossoParceiro .title span {
  color: #579af2;
}
html body main #nossoParceiro .title p {
  width: 480px;
  text-align: center;
}
html body main #nossoParceiro .parceiroCont {
  background-image: url(../img/background_seja_nosso_parceiro.png);
  width: 70%;
  padding-bottom: 4%;
  background-size: 102% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  gap: 10%;
}
html body main #nossoParceiro .parceiroCont .icone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}
html body main #nossoParceiro .parceiroCont .icone img {
  margin-bottom: 6%;
}
html body main #nossoParceiro .parceiroCont .icone h4 {
  margin-bottom: 3%;
}
html body main #nossoParceiro .parceiroCont .icone p {
  width: 290px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
html body main #nossoParceiro .parceiroCont :first-child {
  margin-left: 2%;
}
html body main #servicos {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Garante que ocupa a tela inteira */
  overflow: visible;
  padding-top: 100px; /* Ajuste conforme necessário */
}
html body main .servicosContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
}
html body main .servicosContainer .servicoOne {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  min-width: 100vw;
}
html body main .servicosContainer .servicoOne .servicoCont {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start !important;
  flex-direction: column;
}
html body main .servicosContainer .servicoOne .servicoCont h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 1%;
}
html body main .servicosContainer .servicoOne .servicoCont h4 span {
  color: #579af2;
}
html body main .servicosContainer .servicoOne .servicoCont h3 {
  width: 560px;
  font-size: 2.7em;
  margin-bottom: 2%;
}
html body main .servicosContainer .servicoOne .servicoCont p {
  color: rgba(255, 255, 255, 0.6);
  width: 550px;
  font-size: 1em;
}
html body main .servicosContainer .servicoOne .servicoCont .titleItens {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start !important;
}
html body main .servicosContainer .servicoOne .servicoCont .titleItens h4 {
  margin: 0px !important;
  width: 400px;
}
html body main .servicosContainer .servicoOne .servicoCont .titleItens img {
  width: 30px;
  height: auto;
  margin-right: 5%;
}
html body main .servicosContainer .servicoOne .servicoCont .mobile img {
  width: auto;
  height: 30px;
  margin: 0% 6% 0% 1.5%;
}
html body main .servicosContainer .servicoOne .servicoCont hr {
  width: 90%;
  height: 0.5px;
  background: white;
  opacity: 0.15;
}
html body main .servicosContainer .servicoOne .servicoItens {
  display: flex;
  position: static;
  height: 700px;
  width: 640px;
  background-size: 640px;
  background-repeat: no-repeat;
  background-image: url(../img/background_servicos.png);
}
html body main .servicosContainer .servicoOne .servicoItens .servicoTitles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
html body main .servicosContainer .servicoOne .servicoItens .servicoTitles h4 {
  font-weight: bold;
  font-size: 1, 2em;
}
html body main .servicosContainer .servicoOne .servicoItens .servicoTitles p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2%;
}
html body main .servicosContainer .servicoOne .servicoItens .servicoTitles img {
  width: 20px;
  height: auto;
}
html body main .servicosContainer .servicoOne .servicoItens .manutencao {
  left: 100px;
  top: -65px;
}
html body main .servicosContainer .servicoOne .servicoItens .seo {
  left: 160px;
  top: 40px;
}
html body main .servicosContainer .servicoOne .servicoItens .icons {
  position: relative;
}
html body main .servicosContainer .servicoOne .servicoItens .icons img {
  width: 60px;
  height: auto;
}
html body main .servicosContainer .servicoOne .servicoItens .manutencaoIcon {
  left: 111px;
  top: 173px;
}
html body main .servicosContainer .servicoOne .servicoItens .marketingIcon {
  left: -83px;
  top: 463px;
}
html body main .servicosContainer .servicoTwo {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10%;
  height: auto;
}
html body main .servicosContainer .servicoTwo .servicoTwoCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html body main .servicosContainer .servicoTwo .servicoTwoCont .servicoTwoContItens {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
html body main .servicosContainer .servicoTwo .servicoTwoCont .servicoTwoContItens .servicoTwoItens {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  margin-bottom: 3%;
  padding: 3% 7% 3% 7%;
}
html body main .servicosContainer .servicoTwo .servicoTwoCont .servicoTwoContItens .servicoTwoItens .imgIcon {
  background: #579af2;
  padding: 3.5%;
  border-radius: 50%;
  margin-right: 5%;
}
html body main .servicosContainer .servicoTwo .servicoTwoCont .servicoTwoContItens .servicoTwoItens .imgIcon img {
  width: 60px;
  height: auto;
}
html body main .servicosContainer .servicoTwo .servicoTwoCont .servicoTwoContItens .servicoTwoItens h4 {
  font-weight: bold;
}
html body main .servicosContainer .servicoTwo .servicoTwoCont .servicoTwoContItens .servicoTwoItens p {
  width: 400px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}
html body main .servicosContainer .servicoTwo .servicoTwoItensTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  margin-bottom: 0%;
  padding: 3% 7% 3% 7%;
}
html body main .servicosContainer .servicoTwo .servicoTwoItensTwo .imgIcon {
  background: #579af2;
  padding: 3.5%;
  border-radius: 50%;
  margin-right: 5%;
}
html body main .servicosContainer .servicoTwo .servicoTwoItensTwo .imgIcon img {
  width: 60px;
  height: auto;
}
html body main .servicosContainer .servicoTwo .servicoTwoItensTwo h4 {
  font-weight: bold;
}
html body main .servicosContainer .servicoTwo .servicoTwoItensTwo p {
  width: 400px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}
html body main .servicosContainer .conection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
html body main .servicosContainer .conection hr {
  background-color: #579af2 !important;
  opacity: 1 !important;
  margin: 0% !important;
  border-radius: 0px !important;
}
html body main .servicosContainer .conection .horiOne {
  display: flex;
  width: 94px;
  position: relative;
  top: -460px;
  left: 197px;
}
html body main .servicosContainer .conection .horiTwo {
  display: flex;
  width: 94px;
  position: relative;
  top: -270px;
  left: 103px;
}
html body main .servicosContainer .conection .vertOne {
  display: flex;
  width: 300px;
  position: relative;
  top: -312px;
  left: -94px;
  transform: rotate(90deg);
}
html body #portifolio {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4% 0% 3% 0%;
}
html body #portifolio .site {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html body #portifolio .port-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: 9999;
}
html body #portifolio .port-card h2 {
  color: white;
  font-size: 7.5em;
  text-align: center;
  font-weight: bold;
}
html body #portifolio .port-card h2 span {
  color: #579af2;
}
html body #portifolio .port-card h4 {
  color: white;
  margin-top: 1%;
  text-align: center;
  width: 650px;
  font-weight: 300;
  font-size: 1.5rem;
}
html body #portifolio .card-port {
  display: flex;
  margin-top: 1.5%;
  width: 80%;
  height: 400px;
  border-radius: 10%;
  z-index: 2222;
  justify-content: center;
  gap: 3.5%;
  /* Espaçamento entre os cards */
}
html body #portifolio .card-port .card-progranac {
  width: 30%;
  height: 600px;
  border-radius: 20px;
  display: flex;
  background-image: url(../img/progranac.png);
  background-size: cover;
  flex-direction: column;
  /* Alinha os elementos na vertical */
  align-items: center;
  justify-content: center;
  /* Faz a imagem ocupar toda a largura */
  /* Garante que a imagem vá até o topo */
  background-color: #f0f0f0;
  /* Apenas para referência visual */
  overflow: hidden;
  /* Evita qualquer transbordamento */
  cursor: pointer;
  transition: background-position 3s ease-in-out;
  /* From Uiverse.io by vinodjangid07 */
}
html body #portifolio .card-port .card-progranac img {
  width: 100%;
  height: 100%;
  /* Agora a imagem ocupa toda a altura do card */
  -o-object-fit: cover;
     object-fit: cover;
  /* Garante que a imagem cubra todo o espaço */
  border-radius: 20px 20px 0 0;
  /* Arredondamento apenas no topo */
}
html body #portifolio .card-port .card-progranac .button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #579af2;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(87, 154, 242, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  top: 250px;
}
html body #portifolio .card-port .card-progranac .button .svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}
html body #portifolio .card-port .card-progranac .button .svgIcon path {
  fill: white;
}
html body #portifolio .card-port .card-progranac .button:hover {
  width: 140px;
  border-radius: 50px;
  background-color: #0e0f11;
  align-items: center;
  transition-duration: 0.3s;
}
html body #portifolio .card-port .card-progranac .button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}
html body #portifolio .card-port .card-progranac .button::before {
  position: absolute;
  bottom: -20px;
  content: "VER MAIS";
  color: white;
  font-size: 0px;
}
html body #portifolio .card-port .card-progranac .button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}
html body #portifolio .card-port .card-progranac a {
  text-decoration: none;
}
html body #portifolio .card-port .card-progranac h3 {
  font-weight: bold;
  font-size: 2em;
  margin: 0px;
}
html body #portifolio .card-senacria {
  width: 30%;
  height: 600px;
  border-radius: 20px;
  display: flex;
  background-image: url(../img/senacria.png);
  background-size: cover;
  flex-direction: column;
  /* Alinha os elementos na vertical */
  align-items: center;
  justify-content: center;
  /* Faz a imagem ocupar toda a largura */
  /* Garante que a imagem vá até o topo */
  background-color: #f0f0f0;
  /* Apenas para referência visual */
  overflow: hidden;
  /* Evita qualquer transbordamento */
  cursor: pointer;
  transition: background-position 3s ease-in-out;
}
html body #portifolio .card-senacria img {
  width: 100%;
  height: 100%;
  /* Agora a imagem ocupa toda a altura do card */
  -o-object-fit: cover;
     object-fit: cover;
  /* Garante que a imagem cubra todo o espaço */
  border-radius: 20px 20px 0 0;
  /* Arredondamento apenas no topo */
}
html body #portifolio .card-senacria .button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #579af2;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(87, 154, 242, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  top: 250px;
}
html body #portifolio .card-senacria .button .svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}
html body #portifolio .card-senacria .button .svgIcon path {
  fill: white;
}
html body #portifolio .card-senacria .button:hover {
  width: 140px;
  border-radius: 50px;
  background-color: #0e0f11;
  align-items: center;
  transition-duration: 0.3s;
}
html body #portifolio .card-senacria .button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}
html body #portifolio .card-senacria .button::before {
  position: absolute;
  bottom: -20px;
  content: "VER MAIS";
  color: white;
  font-size: 0px;
}
html body #portifolio .card-senacria .button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}
html body #portifolio .card-senacria a {
  text-decoration: none;
}
html body #portifolio .card-senacria h3 {
  font-weight: bold;
  font-size: 2em;
  margin: 0px;
}
html body .card-solarprog {
  width: 30%;
  height: 600px;
  border-radius: 20px;
  display: flex;
  background-image: url(../img/senacria.png);
  background-size: cover;
  flex-direction: column;
  /* Alinha os elementos na vertical */
  align-items: center;
  justify-content: center;
  /* Faz a imagem ocupar toda a largura */
  /* Garante que a imagem vá até o topo */
  background-color: #f0f0f0;
  /* Apenas para referência visual */
  overflow: hidden;
  /* Evita qualquer transbordamento */
  cursor: pointer;
  transition: background-position 3s ease-in-out;
}
html body .card-solarprog img {
  width: 100%;
  height: 100%;
  /* Agora a imagem ocupa toda a altura do card */
  -o-object-fit: cover;
     object-fit: cover;
  /* Garante que a imagem cubra todo o espaço */
  border-radius: 20px 20px 0 0;
  /* Arredondamento apenas no topo */
}
html body .card-solarprog .button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #579af2;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(87, 154, 242, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  top: 250px;
}
html body .card-solarprog .button .svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}
html body .card-solarprog .button .svgIcon path {
  fill: white;
}
html body .card-solarprog .button:hover {
  width: 140px;
  border-radius: 50px;
  background-color: #0e0f11;
  align-items: center;
  transition-duration: 0.3s;
}
html body .card-solarprog .button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}
html body .card-solarprog .button::before {
  position: absolute;
  bottom: -20px;
  content: "VER MAIS";
  color: white;
  font-size: 0px;
}
html body .card-solarprog .button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}
html body .card-solarprog a {
  text-decoration: none;
}
html body .card-solarprog h3 {
  font-weight: bold;
  font-size: 2em;
  margin: 0px;
}
html .card-progranac:hover {
  background-position: 0% 100%;
}
html .card-senacria:hover {
  background-position: 0% 100%;
}
html .card-solarprog:hover {
  background-position: 0% 100%;
}

.button {
  /* From Uiverse.io by alexmaracinaru */
}
.button .cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #579af2;
  width: 55px;
  height: 45px;
  transition: all 0.3s ease;
}
.button .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.button .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.button .cta:hover:before {
  width: 100%;
  background: #579af2;
}
.button .cta:hover svg {
  transform: translateX(0);
}
.button .cta:active {
  transform: scale(0.95);
}

#solucoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
}
#solucoes .solucoesCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start !important;
  background: rgba(46, 46, 46, 0.6);
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.7);
  padding: 4%;
  border-radius: 25px;
}
#solucoes .solucoesCont div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start !important;
  flex-direction: column;
}
#solucoes .solucoesCont div h2 {
  color: rgba(255, 255, 255, 0.7) !important;
}
#solucoes .solucoesCont div p {
  color: rgba(255, 255, 255, 0.6);
  width: 700px;
}
#solucoes .solucoesCont div {
  margin-left: 6%;
  /* From Uiverse.io by alexmaracinaru */
}
#solucoes .solucoesCont div .cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 50px;
}
#solucoes .solucoesCont div .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #579af2;
  width: 55px;
  height: 45px;
  transition: all 0.3s ease;
}
#solucoes .solucoesCont div .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: #ffffff;
}
#solucoes .solucoesCont div .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
#solucoes .solucoesCont div .cta:hover:before {
  width: 100%;
  background: #579af2;
}
#solucoes .solucoesCont div .cta:hover svg {
  transform: translateX(0);
}
#solucoes .solucoesCont div .cta:active {
  transform: scale(0.95);
}

#contato {
  width: 100%;
  height: auto;
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* From Uiverse.io by alexmaracinaru */
}
#contato h2 {
  font-size: 7em;
}
#contato h2 span {
  color: #579af2;
}
#contato h3 {
  margin-top: 5%;
  margin-bottom: 1%;
}
#contato p {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contato .pergunta {
  width: 50%;
  background: transparent;
  margin-top: 1%;
  /* Deixa o fundo do acordeão transparente */
  /* Muda a cor do texto ao passar o mouse */
  /* Linha azul separando cada pergunta */
  /* Estiliza o corpo do acordeão */
  /* Remove a borda padrão do botão */
  /* Deixa a seta branca */
}
#contato .pergunta .accordion-button {
  background-color: transparent !important;
  border: none;
  color: #fff;
  /* Mantém o texto visível */
  font-size: 0.2em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
#contato .pergunta .accordion-collapse {
  transition: height 0.5s;
}
#contato .pergunta .accordion-button:hover {
  color: #579af2;
}
#contato .pergunta .accordion-item {
  border: none;
  background-color: transparent !important;
}
#contato .pergunta .accordion-body {
  background-color: rgba(0, 0, 0, 0);
  /* Fundo semi-transparente */
  color: #fff;
}
#contato .pergunta .accordion-button:focus {
  box-shadow: none;
}
#contato .pergunta .accordion-button::after {
  background-image: url(../img/plus_icon.png);
  /* Inverte a cor padrão da seta (de preto para branco) */
}
#contato .cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contato .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #579af2;
  width: 55px;
  height: 45px;
  transition: all 0.3s ease;
}
#contato .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: #ffffff;
}
#contato .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
#contato .cta:hover:before {
  width: 100%;
  background: #579af2;
}
#contato .cta:hover svg {
  transform: translateX(0);
}
#contato .cta:active {
  transform: scale(0.95);
}

.footer {
  margin-top: 135px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  width: 100%;
}
.footer .footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.footer .footer-container .footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer-container .footer-logo h3 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer .footer-container .footer-logo img {
  width: 250px;
  height: 80px;
  margin-bottom: 20px;
}
.footer .footer-container .footer-links {
  display: flex;
  gap: 50px;
}
.footer .footer-container .footer-links .footer-section {
  display: flex;
  flex-direction: column;
}
.footer .footer-container .footer-links .footer-section h4 {
  margin-bottom: 10px;
  font-size: 20px;
}
.footer .footer-container .footer-links .footer-section a {
  color: #bbbbbb;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 18px;
}
.footer .footer-container .footer-links .footer-section a:hover {
  color: #579af2;
}
.footer .footer-container .footer-pai {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  /* From Uiverse.io by elisapi */
  /* for all social containers*/
  /* instagram*/
  /* twitter*/
  /* linkdin*/
  /* Whatsapp*/
}
.footer .footer-container .footer-pai .card {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}
.footer .footer-container .footer-pai .socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(105, 105, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}
.footer .footer-container .footer-pai .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.footer .footer-container .footer-pai .containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.footer .footer-container .footer-pai .containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.footer .footer-container .footer-pai .containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.footer .footer-container .footer-pai .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
.footer .footer-container .footer-pai .socialSvg {
  width: 17px;
}
.footer .footer-container .footer-pai .socialSvg path {
  fill: rgb(255, 255, 255);
}
.footer .footer-container .footer-pai .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.footer .footer-final {
  width: 90%;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.footer .paragrafo {
  color: rgb(150, 150, 150);
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */